.buildpath
.cache
.DS_Store
.idea
.metadata
.project
.settings
*.log
*.sql.gz
*.tar.gz
*.tar.gz.*
node_modules

/webroot/*
!/webroot/bitrix
!/webroot/bitrix/.settings.php.init.php
!/webroot/restore.php
